body {
    background: url('/assets/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color:salmon;
  }

  .outset {
    border-style: outset;
  }

  .header {
    background-color: slateblue;
    padding: 20px;
    text-align: center;
  }